
body {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0px;
    background: #ebebeb;    
}

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 60px;
    max-width: 1024px;    
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    height: 50px;    
}

.header-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;    
    max-width: 1024px;
}

.header-items a {
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 7px;
    text-decoration: none;
    color: #fff;    
    background: #404040;    
}

.header-icon{
    display: inline-block;    
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;    
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    font-family: "fontello";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;  
}

.header-nav-desktop {
    display: inline-block;
}

.header-nav-desktop-mobile {
    display: none;
}

.section-description-project > span:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

.text-part  > span:first-child {
    font-weight: bold;
}

.contact  > span:first-of-type {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.4em;
}

.contact > div:last-of-type {
    margin-top: 10px;
}

.menu-item {
    position: relative;
    display: flex;    
    flex-basis: 160px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 20px;
    font-size: 14px;    
    color: #999;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 0 #e2e2e2;
    border-radius: 5px;
    border: 1px solid transparent;  
    align-items: center;
    cursor: pointer;
}

.menu-items {
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap; 
}

.sections {
    display: flex;
    flex-direction: column;
    width: 90%;  
    max-width: 1024px;
}

.title {
    width: 100%;
    margin-bottom: 6px;
    border-bottom: 4px double #333;
    text-align: right;    
    line-height: 1.3;
    clear: both;    
}

.section-description {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
    padding: 10px;          
    background-color: white;
    border-radius: 15px;
}

.section-description-project {
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    padding: 10px;   
    background-color: white;
    border-radius: 15px;
}

.section-description-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-description-info:last-child {
    text-align:  center;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.foto {    
    width: 300px;
    height: 300px;
    border-radius: 150px;    
    background:url('../img/foto.png');
    background-size: cover;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    align-items: center;
    width: 40%;
    margin-right: 10px;
}

.text-part {    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;    
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background: #141414;    
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    background: #141414;    
}

a {
    text-decoration: none;
}

.demo-icon
{
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 3em;     
    text-decoration: inherit;
    text-align: center;  
    font-variant: normal;
    text-transform: none; 
    line-height: 1em;
}

 .linked-icon
{
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;    
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    text-decoration: none; 
    text-decoration: inherit;
    text-align: center; 
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.linked-icon:hover {
    color: #e5194c;
}

.menu-item:hover {
    color: #e5194c;
}

img {
    border-radius: 100px;
}

@media screen and (max-width: 950px) {
    .header-items >a:first-child {
        display: none;
    }

    .header-nav-desktop {
        display: none;
    }
    
    .header-nav-desktop-mobile {
        display: inline-block;
    } 
}
